@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap");
body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  background-color: #e3e3e3;
}

header {
  min-height: 100vh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #333;
  padding-bottom: 10px;
}

@media (max-width: 700px) {
  header {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    z-index: 100;
    position: relative;
  }
}

header div.header-wrapper {
  width: 90%;
  margin: 10px auto 50px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  color: #ed6746;
  text-align: left;
  font-size: 30px;
  margin-left: 10px;
}

@media (max-width: 700px) {
  h1 {
    margin: 0;
  }
}

#socio-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.icon-wrapper {
  margin-right: 10px;
}

.icon-wrapper img {
  width: 30px;
}

main {
  width: 96%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px auto;
      grid-template-columns: 340px auto;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 700px) {
  main {
    display: block;
  }
}

.tip {
  color: #ed6746;
  margin: 10px 0;
  text-align: center;
}

#video-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;
  min-height: 50vh;
}

@media (max-width: 1300px) {
  #video-wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  #video-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  #video-wrapper {
    display: block;
  }
}

.video-item {
  width: calc(100% - 10px);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: 1px solid #ed6746;
  margin: 2px;
}

@media (max-width: 700px) {
  .video-item {
    height: auto;
  }
}

video {
  width: 100%;
  height: 400px;
}

@media (max-width: 700px) {
  video {
    height: auto;
  }
}

.active {
  fill: green !important;
}

#date-picker {
  margin-bottom: 50px;
}

.show_all {
  color: #ed6746;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.wrapper {
  width: 90%;
  margin: 30px auto;
  color: white;
}

#day-select {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}

.day {
  cursor: pointer;
  outline: none;
}

#selected-date, #show_all_dates {
  display: block;
  margin: 10px 0;
}

select {
  font-family: 'Roboto Mono', monospace;
  background-color: #333;
  color: white;
  display: block;
  margin: 5px 0 50px;
  padding: 5px;
  max-width: 100%;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

option {
  max-width: 100%;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.no-video {
  grid-column: 1/-1;
  display: none;
  text-align: center;
  margin: auto;
}

#scroll-top {
  width: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.metodology {
  grid-column: 1/-1;
  width: 90%;
  margin-left: 10px;
}

.metodology .button {
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #ed6746a3;
  color: white;
  padding: 5px;
}

.metodology .button:hover {
  background-color: #ed6746;
}

.metodology p {
  font-size: 14px;
}

.hidden {
  height: 0;
  overflow: hidden;
}

.mobile-only {
  display: none;
}

@media (max-width: 700px) {
  .mobile-only {
    display: block;
  }
}

@media (max-width: 700px) {
  .desktop-only {
    display: none;
  }
}

.credits {
  width: 90%;
  margin: auto;
  font-size: 14px;
  color: white;
  line-height: 1.6;
}

@media (max-width: 700px) {
  .credits {
    display: none;
  }
}

.credits a {
  color: white;
}

.credits a:hover {
  color: #ed6746;
}

/* read-more */
#read-more-title {
  text-align: center;
}

#read-more {
  font-family: sans-serif;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 700px) {
  #read-more {
    display: block;
  }
}

#read-more .rm {
  text-decoration: none;
  color: white;
  width: 25%;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
}

@media (max-width: 700px) {
  #read-more .rm {
    width: 90%;
  }
}

#read-more .rm h2 {
  width: 80%;
  text-align: center;
  margin: auto;
}

#read-more .rm {
  background-size: cover;
}

/* donate */
.donate-us {
  font-family: sans-serif;
  margin: 80px auto 30px auto;
  max-width: 800px;
}

.donate-us hr {
  grid-column: 1/-1;
  margin: 20px 0;
}

.donate-us a.donate-button {
  text-decoration: none;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  min-height: 50px;
  padding: 10px;
  color: white;
  background-color: #ed6746;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.donate-us a.donate-button p {
  width: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: auto !important;
  font-weight: 600;
}

.donate-us a {
  color: #ed6746;
  border-bottom: 0;
}
/*# sourceMappingURL=styles.css.map */