$red: #ed6746;

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap');


body {
    font-family: 'Roboto Mono', monospace;
    margin:0;
    padding: 0;
    background-color:#e3e3e3;
} 

header {     
    min-height: 100vh;
    height: max-content;
    position: sticky;
    top: 0;   
    background-color: #333;
    padding-bottom: 10px;
    @media(max-width: 700px){
        height: max-content;
        z-index:100;
        position: relative;
    }

    div.header-wrapper {  
        width: 90%;
        margin: 10px auto 50px auto;      
        align-items: center;
    }
}

h1 {        
    color: $red;
    text-align: left;
    font-size: 30px;
    margin-left: 10px;
    @media(max-width: 700px){
        margin: 0;
    }  
}



#socio-icons {
    display: flex;
    justify-content: flex-start;
}

.icon-wrapper {
    margin-right: 10px;
img {
    width: 30px;
}
}


main {    
    width: 96%;
    display:grid;
    grid-template-columns: 1fr 4fr;
    margin:0 auto;
    padding: 0;  
    @media(max-width: 700px){
        display:block;
    }  
}



.tip {   
    color: $red;
    margin: 10px 0;
    text-align: center;
}

#video-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);        
    grid-auto-flow: dense; 
    min-height: 80vh;
    @media(max-width: 1200px){
        grid-template-columns: repeat(3, 1fr);        
    }
    @media(max-width: 900px){
        grid-template-columns: repeat(2, 1fr);        
    }
    @media(max-width: 700px){
        display: block;  
    }
}

.video-item {
    width: calc(100% - 10px);
    height: max-content;
    border: 1px solid #ed6746;
    margin: 2px;
    @media(max-width: 700px){
        height: auto;
    }
}

video {
    width: 100%;
    height: 400px;
    @media(max-width: 700px){
        height: auto;
    }
}

.active {
    fill: green !important
}

#date-picker {
    margin-bottom: 50px;
}

.show_all {
    color: $red;   
    cursor: pointer;
    text-transform: uppercase;   
    font-weight: 600; 
}

.wrapper {
    width:90%;
    margin:30px auto;
    color: white;
}

#day-select {
    width: max-content;
    margin: 0;   
}

.day {
    cursor: pointer;
    outline: none;
}

#selected-date, #show_all_video {
    display:block;
    margin: 10px 0;
}

select {
    font-family: 'Roboto Mono', monospace;
    background-color: #333;
    color: white;
    display: block;
    margin: 5px 0 50px;
    padding: 5px;
}

.no-video {
    grid-column: 1/-1;
    display: none;
    text-align: center;
    margin: auto;
}

#scroll-top {
    width: 30px; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    cursor: pointer;
}



.metodology {
    grid-column: 1/-1;
    width: 90%;
    margin-left:10px;

    .button {
        cursor: pointer;
        width:max-content;
        background-color: #ed6746a3;
        color: white;
        padding: 5px;
    }

    .button:hover {
        background-color: #ed6746;
    }

    p {        
        font-size:14px;        
    }
}

.hidden{
    height: 0;
    overflow: hidden;
}

.mobile-only {
    display: none;
    @media(max-width: 700px){
        display: block;
    }
}

.desktop-only {
    @media(max-width: 700px){
        display: none;
    }
}

.credits {
    width: 90%;
    margin: auto;
    font-size:14px;
    color: white;
    line-height: 1.6;
    @media(max-width: 700px){
        display: none;
    }

    a {
        color: white;
    }

    a:hover {
        color: $red;
    }
}
/* read-more */

#read-more-title {
    text-align: center;
  }
  
#read-more {
    font-family: sans-serif;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    @media(max-width: 700px){
      display: block;
    }
  
    .rm {
      text-decoration: none;
      color: white;
      width: 25%;
      min-height: 200px;
      display: flex;
      margin: 10px auto;
      @media(max-width: 700px){
        width: 90%;
      }       
      
      h2 {
        width: 80%;
        text-align: center;
        margin: auto;
      }
    }
  
    #rm-1 {
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/rm-1.png");
      background-size: cover;      
    }
  
    #rm-2 {
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/rm-2.jpg");
      background-size: cover;
    }
  
    #rm-3 {
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/rm-3.jpg");
      background-size: cover;
    }  
  }
  
  
  /* donate */
  .donate-us {
    font-family: sans-serif;
    margin: 80px auto 30px auto;
    max-width: 800px;
  
    hr {
      grid-column: 1/-1;
      margin: 20px 0;
    }
  
    a.donate-button {
      text-decoration: none;
      cursor: pointer;
      width: max-content;
      margin: auto;
      min-height: 50px;
      padding: 10px;
      color: white;
      background-color: $red;
      display: flex;
  
      p {
        width: 100%;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: auto !important;
        font-weight: 600;
      }
    }
  
    a {
      color: $red;
      border-bottom: 0;
    }
  }
  